name: flutter_tflite_ffi_example
description: Demonstrates how to use the flutter_tflite_ffi plugin.
publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  flutter_tflite_ffi:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^6.0.0

flutter:
  uses-material-design: true
  # To add a TFLite model, uncomment and update:
  # assets:
  #   - assets/model.tflite
