name: flutter_tflite_ffi
description: A Flutter FFI plugin for TensorFlow Lite.
version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.0.0
  flutter: ">=3.0.0"

dependencies:
  ffi: ^2.0.0
  flutter:
    sdk: flutter
  path_provider: ^2.0.11
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  ffigen: ^13.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
